
body{
	margin:0px;
}
#header{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 28%;
	background-color: #99CCFF;
	box-shadow: 0 1px 2px rgba(0,0,0,.4);
	
}
#name{
	margin-top: 10px;
	font-size: 48px;
	font-family: American Typewriter, sans-serif;
	color: black;
	padding-left: 38%;
}
#Last-Name{
	padding-left: 35%;
	font-size: 52px;
	font-family: American Typewriter, sans-serif;
	color: black;
}
#name1{
	padding-left: 54%;
	margin-top: -50px;
	font-size: 30px;
	font-family: American Typewriter, sans-serif;
	color: #ffffff;
	
}
#graphic{
	font-size: 30px;
	font-family: American Typewriter, sans-serif;
	color: #ffffff;
	padding-left: 54%;
	margin-top: -64px;
}
#web{
	font-size: 30px;
	font-family: American Typewriter, sans-serif;
	color: #ffffff;
	padding-left: 54%;
	
}
#email{
	font-size: 20px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
	text-align: justify;
	padding-left: 45%;
}
h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}
.right p{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}
li{
	list-style-type: square;
}
a:hover{
	font-weight: bold;
}
.left{
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 720px;
	background-color: white;
	margin-bottom: 10px;
}
.right{
	position: relative;
	float: right;
	margin-top: 210px;
	width: 88%;
	height: 900px;
	background-color: white;
	margin-bottom: 10px;
}

